{% extends "parent.html" %}
{% block body %}
<!-- <div class="container">
    <h2>About  NOU e-GYAN PORTAL</h2>
<p style="font-family: 'Times New Roman', Times, serif;">
    Nalanda Open University welcomes all our students, faculties & study centres to the very new & innovative online study portal NOU e-Gyan. The portal is a unique initiative by Hon'ble Vice-Chancellor Prof. (Dr.) K C Sinha, which aims at providing online study material to the students of NOU.<br/><br/>
    The portal is accessible from any hook and corner of the world if the system allows the permission to its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring & Controlling of all stakeholders of the system i.e. students, teachers, study centre administrators as well as Nalanda Open University Admins when they are at a distance.
</p>
</div> -->
{% endblock %}