{% extends "parent.html" %}
{% load static %}
{% block body %}
<script>
    function validate()
    {
        var name=document.getElementById("name");
        var contactno=document.getElementById("contactno");
        var emailaddress=document.getElementById("emailaddress");
        var emailexp=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (name.value=="" || name.value==null){
            alert("Please enter name");
            name.focus();
        }
        else if(contactno.value=="" || contactno.value==null){
            alert("Please enter contact number");
            contactno.focus();
        }
        else if(contactno.value.length!=10)
        {
            alert("Please enter 10 digits in contact no.");
            contactno.focus();
        }
        else if(emailaddress.value=="" || emailaddress.value==null)
        {
            alert("Please enter email address");
            emailaddress.focus();
        }
        else if(!emailexp.test(emailaddress.value)){
            alert("Please enter valid email address");
            emailaddress.focus();
        }
        else{
            document.getElementById("frmenquiry").submit();
        }
    }
</script>
<h1 class="mt-3" style="text-align:center; color:blue; ">Enquiry Form</h1>
{% if messages %}
    {% for message in messages %}
    <p style="color:Green; text-align:center;">{{message}} </p>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-sm-4">
        <img class=" mx-5 w-75 h-120 mt-5" src="{% static 'images/enquiry.png'%}"/>
    </div>
    <div class="col-sm-8">
        <form class="form-group" action="{% url 'nouapp:contactus'%}" method="POST" id="frmenquiry" onsubmit="event.preventDefault();validate();">
            {% csrf_token %}
            <table class="table mt-5 table-dark" style="width:80%; margin:auto;">
                <tr >
                    <td><label class="form-label">Enter Name</label></td>
                    <td><input type="text" name="name" class="form-control" id="name"/></td>
                </tr>
                <tr >
                    <td><label class="form-label">Select Gender</label></td>
                    <td>
                        <input type="radio" name="gender" value="male" class="form-check-input"/> Male
                        <input type="radio" name="gender" value="female" class="form-check-input"/> Female
                    </td>
                </tr>
                <tr >
                    <td><label class="form-label">Address</label></td>
                    <td><textarea name="address" class="form-control"></textarea></td>
                </tr>
                <tr>
                    <td><label class="form-label">Enter Contact No.</label></td>
                    <td><input type="number" name="contactno" class="form-control" id="contactno"/></td>
                </tr>
                <tr>
                    <td><label class="form-label">Enter Email Address</label></td>
                    <td><input type="text" name="emailaddress" class="form-control" id="emailaddress"/></td>
                </tr>
                <tr>
                    <td><label class="form-label">Enter Enquiry Text</label></td>
                    <td><textarea name="enquirytext" class="form-control"></textarea></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><button type="submit" class="btn btn-success">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
</div><br/><br/>
{% endblock %}