{% extends "parent.html" %}
{% load static %}
{% block body %}
<div class="row">
  <br/>
  <h1 style="text-align: center;">About  NOU e-GYAN PORTAL</h1>
  <div class="col-sm-11 mx-5 " style="text-align:justify;">
      <div>
        <br/>
      <p style="font-family: 'Times New Roman', Times, serif;">
        Nalanda Open University welcomes all our students, faculties & study centres to the very new & innovative online study portal NOU e-Gyan. The portal is a unique initiative by Hon'ble Vice-Chancellor Prof. (Dr.) K C Sinha, which aims at providing online study material to the students of NOU.<br/><br/>
        The portal is accessible from any hook and corner of the world if the system allows the permission to its users. It is also fully secured and accessible 24 x 7 to its authorised users. It will resolve the academic issues such as E-content Distribution, Delivery, Tracking, Assessment, Progress Monitoring & Controlling of all stakeholders of the system i.e. students, teachers, study centre administrators as well as Nalanda Open University Admins when they are at a distance.
      </p>
      </div>
  </div>
</div><br/>
<div class="row">
    <h1 style="text-align:center; color:black;">OUR COURSES</h1>
    <div class="card col-sm-4 mt-3" style="width: 18rem;margin-left:6rem;">
        <img class="card-img-top mt-2" src="static/images/bca.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Bachelor of Computer Applications</p>
        </div>
    </div>
    <div class="card col-sm-4 mt-3" style="width: 18rem; margin-left:6rem;">
        <img class="card-img-top mt-2" src="static/images/mca.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Masters in Computer Applications</p>
        </div>
    </div>
    <div class="card col-sm-4 mt-3" style="width: 18rem; margin-left:6rem;">
        <img class="card-img-top mt-2" src="static/images/bba.png" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Bachelor in Business Adminstration</p>
        </div>
    </div>
</div>
<div class="row" style="margin-top:4rem;">
    <h1  style="text-align:center; color:black;">STUDENT SERVICES</h1>
    <div class="card border-warning mb-3 col-sm-3 mt-3" style="max-width: 16rem;margin-left:3rem;">
        <div class="card-header border-success mt-2 text-light" style="text-align: center; background-color:#660022 ;">Login</div>
        <div class="card-body text-success">
            <img class="card-img-top mt-2" src="static/images/registration.jpg" alt="Card image cap">
        </div>
      </div>
      <div class="card border-warning mb-3 col-sm-3 mt-3" style="max-width: 16rem; margin-left:3rem;">
        <div class="card-header border-success mt-2 text-light" style="text-align: center; background-color:#660022 ;">Dashbord</div>
        <div class="card-body text-success">
            <img class="card-img-top mt-2" src="static/images/dashboard.jpg" alt="Card image cap">
        </div>
      </div>
      <div class="card border-warning mb-3 col-sm-3 mt-3" style="max-width: 16rem; margin-left:3rem;">
        <div class="card-header border-success mt-2 text-light" style="text-align: center; background-color:#660022 ;">Feedback</div>
        <div class="card-body text-success">
            <img class="card-img-top mt-2" src="static/images/feedback.jpg" alt="Card image cap">
        </div>
      </div>
      <div class="card border-warning mb-3 col-sm-3 mt-3" style="max-width: 16rem; margin-left:3rem;">
        <div class="card-header border-success mt-2 text-light" style="text-align: center; background-color:#660022 ;">Study Materials</div>
        <div class="card-body text-success">
            <img class="card-img-top mt-2" src="static/images/sm.png" alt="Card image cap">
        </div>
      </div>
      <div class="card border-warning mb-3 col-sm-3 mt-3" style="max-width: 16rem; margin-left:3rem;">
        <div class="card-header border-success mt-2 text-light" style="text-align: center; background-color:#660022 ;">Discussion Forum</div>
        <div class="card-body text-success">
            <img class="card-img-top mt-2" src="static/images/dsf.png" alt="Card image cap">
        </div>
      </div>
      <div class="card border-warning mb-3 col-sm-3 mt-3" style="max-width: 16rem; margin-left:3rem;">
        <div class="card-header border-success mt-2 text-light" style="text-align: center; background-color:#660022 ;">Assignments</div>
        <div class="card-body text-success">
            <img class="card-img-top mt-2" src="static/images/ass.png" alt="Card image cap">
        </div>
      </div>
      <div class="card border-warning mb-3 col-sm-3 mt-3" style="max-width: 16rem; margin-left:3rem;">
        <div class="card-header border-success mt-2 text-light" style="text-align: center; background-color:#660022 ;">Complaints</div>
        <div class="card-body text-success">
            <img class="card-img-top mt-2" src="static/images/cmp.png" alt="Card image cap">
        </div>
      </div>
      <div class="card border-warning mb-3 col-sm-3 mt-3" style="max-width: 16rem; margin-left:3rem;">
        <div class="card-header border-success mt-2 text-light" style="text-align: center; background-color:#660022 ;">E-Learning</div>
        <div class="card-body text-success">
            <img class="card-img-top mt-2" src="static/images/e-lectures.jpg" alt="Card image cap">
        </div>
      </div>
</div>
{% endblock %}