{% extends "studentparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center; color:black">Study Materials</h1>   
            <table class="table table-bordered">
                <tr>
                    <th>Mat#</th>
                    <th>Subject</th>
                    <th>File Name</th>
                    <th>Download</th>
                </tr>
                
                {% for m in mat %}
                <tr>
                <td>{{forloop.counter}}</td>
                <td>{{m.subject}}</td>
                <td>{{m.filename}}</td>
                <td>
                    <a download href="{{m.myfile.url}}">{{m.filename}}</a>
                </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock body %}